

.exBold {
  color: rgba(0,0,0,0.9);
  font-weight: 600;
}

.silver {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  z-index: 5;
  box-sizing: border-box;
  top: 53vh;
    position: relative;
  }

.silver h2 {
  font-weight: 800;
  position: relative;
  /* top: -10px;
  right: 30px; */
  font-size: 7em;
  color: rgba(0,0,0,0.1);
  font-family: 'Poppins', sans-serif;
}

.silver h3{
      font-size: 1.8em;
      color: rgba(0,0,0,0.7);
      /* transistion: 0.5s; */
      z-index: 1;
      font-weight: 700;
      text-transform: capitalize;
      }

.silver p{
  text-align: center;
  font-weight: 600;
        font-size: 22px;
        text-transform: capitalize;
        color: rgba(0,0,0,0.5);
        /* transistion: 0.5s; */
        z-index: 1;
        line-height: 1.6;
        }

        .silver-mobile {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          max-width: 100%;
          z-index: 5;
          box-sizing: border-box;
          top: 300px;
            position: relative;
            margin-bottom: 40px;
            margin-top: 40px;
          }

        .silver-mobile h2 {
          font-weight: 800;
          position: relative;
          /* top: -10px;
          right: 30px; */
          font-size: 7em;
          color: rgba(0,0,0,0.1);
          font-family: 'Poppins', sans-serif;
        }

        .silver-mobile h3{
              font-size: 1.8em;
              color: rgba(0,0,0,0.7);
              /* transistion: 0.5s; */
              z-index: 1;
              font-weight: 700;
              text-transform: capitalize;
              }

        .silver-mobile p{
          text-align: center;
          font-weight: 600;
                font-size: 22px;
                text-transform: capitalize;
                color: rgba(0,0,0,0.5);
                /* transistion: 0.5s; */
                z-index: 1;
                line-height: 1.6;
                }


.review-head {
  position: relative;
  height: 150vh;
  overflow: hidden;
  /* / z-index: -3;  */
  background-color:white!important;

}

.review-head .container {
  position: relative;
}
.review-head-mobile {
position: relative;
height: 1500px;
overflow: hidden;
/* / z-index: -3;  */
background-color:white!important;

}

.review-head .container {
position: relative;
}

.review-text-front {
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
  left: 50%;
  width: 90%;
  top: 25%;
 z-index: 4;
}

.review-text-front h1 {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  color: transparent;
  font-weight: 900;
  font-size: 35px;
  -webkit-text-stroke: 2px #000;
  letter-spacing: 1px;
  transform: translateY(-25vh);
}
.bgwhite {
  background-color: white;
}

.backTo {
  float: right;
}
.cowhite {
  color: black!important;
}
.review-text-back {
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
  left: 50%;
  width: 90%;
  top: 45vh;
 z-index: 0;
}

.review-text-back h1 {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  font-size: 35px;
  -webkit-text-stroke: 0px #000;
  letter-spacing: 1px;
  transform: translateY(-25vh);
}

.Fifty {
  /* width: 75%; */
}

.logo {
  position: absolute;
  margin-top: 10vh;
  width: 50px;
  height: 50px;
  left: 8%;
  z-index: 99 !important;
}

.middleskew {
  background: #fff;
  position: relative;
  transform: translate(-50%, -50%) skew(20deg);
  -webkit-transform: translate(-50%, -50%) skew(20deg);
  -moz-transform: translate(-50%, -50%) skew(20deg);
  -ms-transform: translate(-50%, -50%) skew(20deg);
  -o-transform: translate(-50%, -50%) skew(20deg);
  text-align: center;
  left: 55%;
  height: 80vh;
  width: 20vw;
  top: 50vh;
  z-index: 0;
}

.heading-text {

}

.afi {
  /* z-index: 99!important; */
}
.afi input {
  border: 0;
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#d2d2d2, #d2d2d2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: rgba(0, 0, 0, 0);
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
    width: 100%;
    height: 36px;
    padding: 7px 0;
    font-size: 14px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.42857;
    display: block;
    width: 100%;
    color: #555;
    /* z-index: 99!important; */
}

.afi input:focus {
  outline: none;
    background-image: linear-gradient(#000, #000), linear-gradient(#d2d2d2, #d2d2d2);
    background-size: 100% 2px, 100% 1px;
    box-shadow: none;
    transition-duration: 0.3s;
}

  /* // <button onClick={handleBack}>Back</button> */

.MainForm {

    border-radius: .25rem;
    position: relative;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    background-color: var(--eg208d,#fff);
    color: var(--1b1jkoo,inherit);
    background-clip: padding-box;
    border: 0;
    outline: 0;
    top: 33vh;
    margin: 40px;
}

.FormInput {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.FormText {
  padding-bottom: 10px;
  padding-left:20px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.FormTextSubmitted {
  padding-bottom: 10px;
  color: green;
  padding-left:20px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.FormSubmit {
  padding-left: 20px;
  padding-bottom: 20px;
}
.FormSubmit button {

  color: #000;
  background-color: #FFF;
  border: 0.1em solid #000;
  border-radius:0.12em;
  padding:0.7em 1.2em;
 margin:0 0.3em 0.3em 0;
 box-sizing: border-box;
 text-decoration:none;
 font: 700 13px Arial;
 text-align:center;

}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
