.review-head {
  position: relative;
  height: 100vh;
  overflow: hidden;
  z-index: -3;
  background-color:white!important;

}

.review-head .container {
  position: relative;
}

.review-text-front {
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
  left: 50%;
  width: 90%;
  top: 45%;
  z-index: 4;
}

.review-text-front h1 {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  color: transparent;
  font-weight: 900;
  font-size: 35px;
  -webkit-text-stroke: 2px #000;
  letter-spacing: 1px;
  transform: translateY(-25vh);
}
.bgwhite {
  background-color: white;
}

.cowhite {
  color: black!important;
}
.review-text-back {
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
  left: 50%;
  width: 90%;
  top: 45%;
  z-index: -2;
}

.review-text-back h1 {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  font-size: 35px;
  -webkit-text-stroke: 0px #000;
  letter-spacing: 1px;
  transform: translateY(-25vh);
}

.logo {
  position: fixed;
  margin-top: 10vh;
  width: 50px;
  height: 50px;
  left: 8%;
  z-index: 99 !important;
}

.middleskew {
  background: #fff;
  z-index: 3;
  position: relative;
  transform: translate(-50%, -50%) skew(20deg);
  -webkit-transform: translate(-50%, -50%) skew(20deg);
  -moz-transform: translate(-50%, -50%) skew(20deg);
  -ms-transform: translate(-50%, -50%) skew(20deg);
  -o-transform: translate(-50%, -50%) skew(20deg);
  text-align: center;
  left: 55%;
  height: 80vh;
  width: 20vw;
  top: 50vh;
}

.heading-text {

}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
